.body {
    background-color: lightblue;
}
.section {
    background-color: yellow;
}
.article {
    background-color: black;

    padding: 20px;
    border-radius: 10px;
}
.article2{
    background-color: white;

    padding: 20px;
    border-radius: 10px;
}